/* reset rules */
    h2, p, ol, ul {

        /* to overwrite bootstrap's CSS */
        margin-bottom: 0;
    }

    ol, ul {

        /* to overwrite bootstrap's CSS */
        padding-left: 0;
    }

    li {
        list-style: none;
    }
/* /reset rules */

/* rules used in specific parts of the page */
    html {
        font-size: 14px;
    }
    
    body {
        font-family: sans-serif;
    }

    main .calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .calendar .buttons {
        display: flex;
        justify-content: center;
    }

    .month {
        display: none;
    }

    .month.current-month {
        display: block;
    }

    .festivity {
        color: red;
    }
/* /rules used in specific parts of the page */
